.subCard{
    height: 100%;
    width: 230px;
    background-color: #04687e;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.subCard h1{
    margin: 0;
}
.subCard img{
    margin: 0;
    height: 100px;
}
.subCard .city{
    font-size: 2.5em;
}
.subCard .temp{
    font-size: 2em;
}
